* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-icon {
    color: #fda085;
 
}

#container {
    display: flex;
    flex-direction: row;
}

.divider {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 100%, .4);
}

/* to-do styling */

#project-title-heading {
    font-size: 35px;
    margin-bottom: 20px;
}

.todo-container {
    display: none;
    flex-direction: column;
    background-color: #666;
}

.add-todo-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    background-color: #666;
    padding: 20px;
}

form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

#to-do-date {
    font-size: 1.9rem;
    cursor: text;
}

form button {
    color: #fda085;
    cursor: pointer;
    background: white;
    transform: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo {
    display: flex;
    justify-content: center;
    margin: 8px;
}

#tasks-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.user-todo-button {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.button-task {
    background-color: #666;
    display: flex;
    border: none;
    flex-direction: row;
}

#add-todo-button {
    border-radius: 8px;
    display: flex;
    background-color: #666;
    border: none;
    font-size: 23px;
    font-weight: 300;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
}

#add-todo-button:hover {
    color: #fda085;
}

/* project styling */

#project-todo-container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    background-color: #666;
    padding: 20px;
}

.active, .projectUiButton:hover {
    background-color: rgb(177, 172, 172);
    color: white;
  }

.project-div {
    display: flex;
    gap: 8px;
}

.new-project {
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

/* .project-form {
    display: flex;
} */

.project-form, .todo-form {
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

#add-project-container {
    display: none;
    flex-direction: column;
    background-color: #666;
}

#add-projects-button {
    border-radius: 8px;
    display: flex;
    background-color: #666;
    border: none;
    font-size: 23px;
    font-weight: 300;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    width: 60%;
}

#add-projects-button:hover {
    color: #fda085;
}

.projects-header {
    font-size: 35px;
    margin-bottom: 20px;
}

/* Projects area styling */

#user-projects-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-project-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    height: 2rem;
    width: 20rem;
    box-sizing: border-box;
    border: none;
    background: white;
    
}

.project-name-icon {
    display: flex;
    height: 100%;
    font-size: 20px;
    align-items: center;
    width: 88%;
    margin-left: 10px;
    gap: 10px;
}

#list-icon {
    color: #fda085;
}

.delete-project-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fda085;
    background: white;
    font-size: 20px;
    width: 12%;
}

.delete-project-icon:hover {
    background: #fda085;
    color: white
}


