* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.divider {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 100%, .4);
}

/* to-do styling */

.add-todo-container {
    display: flex;
    flex-direction: column;
    background-color: #666;
    padding: 20px;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

#to-do-date {
    font-size: 1.9rem;
    cursor: text;
}

form button {
    color: #fda085;
    cursor: pointer;
    background: white;
    transform: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: black;
}

.tasks-list {
    display: flex;
    flex-direction: column;
}

.button-task {
    background-color: #666;
    display: flex;
    border: none;
    flex-direction: row;
}

.left-task-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left-task-panel > i, p {
    font-size: 20px;
}

.right-task-panel {

}

/* edit to-do form */

#edit-todo-form-container {
    display: none;
}

#edit-todo-form {

}

#edit-todo-title {

}

#edit-todo-date {

}

#close-edit-todo-button {
    
}

/* project styling */

.project-ui-button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #fcfdfd;
    cursor: pointer;
    font-size: 20px;
    width: 60%;
}

.active, .projectUiButton:hover {
    background-color: rgb(177, 172, 172);
    color: white;
  }

.project-div {
    display: flex;
    gap: 8px;
}

.new-project {
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.project-form, .todo-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-project-container {
    display: flex;
    flex-direction: column;
    background-color: #666;
    padding: 20px;
}

