/* to dos */
#task-container {
    display: none;
    flex-direction: column;
    width: 200px;
    height:200px;
    margin-top: 20px;
}

#submit-toDo {
    display: flex;
    height: 40px;
    font-size: 16px;
}

#due-date {
    display: flex;
    height: 30px;
    font-size: 13px;
}

#submit-to-do-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

/* projects */

#add-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#new-project-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#add-project-buttons {
    display: flex;
    flex-direction: row;
}

#project-name {
    display: none;
    height: 40px;
    font-size: 16px;
}

#cancel-add-project {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

#submit-project-button {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}