/* to dos */
#task-container {
    display: none;
    flex-direction: column;
    width: 200px;
    height:200px;
}

#add-task-button-container {
    display: flex;
    margin-top: 20px;
}

#add-task-button {
    
}

#cancel-task-button {
    display: none;
}

/* projects */

#add-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

#new-project-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#add-project-buttons {
    display: flex;
    flex-direction: row;
}

#project-name {
    display: none;
}

#cancel-add-project {
    display: none;
}

#submit-project-button {
    display: none;
}